<div class="questions-content">
<p>
  <strong> Question title: </strong>
  <%= @question.body %>
</p>
<table>
  <%= button_to 'Back',  test_path(@question.test_id), method: :get%>
  <%= button_to 'New answer',  new_question_answer_path(@question), method: :get%>
</table>
<%= render 'answers/answers'%>
</div>