<p>
  <strong> Question title: </strong>
  <%= @question.body %>
</p>

<tr><%= button_to 'Back', test_path(@question.test_id), method: :get %></tr>
<tr><%= button_to 'New answer', new_question_answer_path(@question)%></tr>
<%= render 'answers/answers'%>