<p>
  <strong> Question title: </strong>
  <%= @question.body %>
</p>

<td>
  <form action="<%= test_path(@question.test_id) %>">
    <button>Back</button>
  </form>
  <%= button_to 'New answer',  new_question_answer_path(@question), method: :get%>
</td>

<!--<td><%#= button_to 'Back', test_path(@question.test_id), method: :get %></td>-->
<!--<td><%#= button_to 'New answer', new_question_answer_path(@question)%></td>-->

<%= render 'answers/answers'%>