<div class="start-window">
<h3> Welсome to Test-Guru!</h3>
<h3> Мы приготовили для тебя много разных <a style="color: blue" href="tests#index">тестов</a>, с помощью которых ты сможешь </h3>
<h3> испытать свою эрудицию. А после регистрации ты сможешь составлять свои тесты и </h3>
<h3> делиться ими с другими пользователями.</h3>
</div>