<h1>The test "<%= @test_passage.test.title %>" was completed!</h1>
<td>You correctly answered :
  <span style= 'color: red'>
    <%= @test_passage.test_percent %>%.
  </span>
  <%= 'You failed to pass test!' %>
</td>
<td><%= button_to 'All tests', tests_path, method: :get %></td>