<footer>
  <div class="container">
    <div class="footer_row">
      <div class="footer_copyrith">
        <div class="footer_copyrith_name">
          <p><%= current_year %>© ALEH RAZANKA</p>
        </div>
        <p>Creating, managing and solving tests.</p>
      </div>
      <div class="footer_project">
        <p><%= github_url("Rezankozzi", "Test-Guru") %></p>
        <div class="footer_scool">
          <a href="https://thinknetica.com" >Учебный проект в онлайн-школе Thinknetica</a>
        </div>
      </div>
    </div>
  </div>
</footer>