// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

button {
  float: left;
}

//td {
//  padding: 0 32px 7px;
//}

th {
  padding-bottom: 15px;
  padding-top: 20px;
}